# Quarto build artefacts
/_book/
/.quarto/
/_freeze/
/_site/
/_reference/
*_files/
*.tex.bak
index.typ
*.log
/index.tex
*.aux
*.fdb_latexmk
_quarto.yml.local
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.quarto_ipynb*
**/*.quarto_ipynb

# mac/editor stuff
.DS_Store
.vscode/
.positron/


# Rproj session
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
# keep .Rproj itself
!R/sysdata.rda


# files not to be published yet
/_private/
