# Quarto build artefacts
/_book/
/.quarto/
/_freeze/
_site/
/_reference/
*_files/
*.tex.bak
index.typ
*.log
/index.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.quarto_ipynb*

# mac/editor stuff
.DS_Store
#.Rproj.user/
#*.Rproj
.vscode/
.positron/
**/*.quarto_ipynb
.Rhistory

# files not to be published yet
/_private/

.RData
